# Python
__pycache__/
*.pyc
venv/
*.egg-info/

# Ortam değişkenleri
.env

# Veritabanı dosyası
*.db

dataset/
backend/data
backend/uploads


# IDE/Editör dosyaları
.vscode/
.idea/

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db

# Frontend
node_modules/

# Model dosyası
ml_model/