# Python
__pycache__/
*.pyc
*.pyo
venv/
*.egg-info/
.env
**/.env

# Veritabanı dosyası
*.db
*.db-shm
*.db-wal

dataset/
backend/data/
backend/uploads/

# IDE/Editör dosyaları
.vscode/
.idea/

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db

# Frontend
node_modules/
dist/
frontend/.env
frontend/.env.local

# Model dosyası
ml_model/